.card {
    max-width: 26rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 4px #ccc;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin: 0 auto;
}
.card:hover {
    box-shadow: 0 4px 1rem #ccc;
    transform: translateY(-4px);
}
.card__img {
    border-bottom: 1px solid #eee;
}
.card__info {
    padding: 1rem;
}
.card__product, .card__price, .card__desc {
    margin: 0;
}
.card__product {
    font-size: 1.8rem;
    font-weight: 700;
}
.card__price {
    font-size: 3rem;
    font-weight: 700;
}
.card__desc {
    color: #888;
}